#ge-propertyTab .floatLine .label {
    color: #666666 !important;
}

#ge-propertyTab .textLine .label {
    color: #666666 !important;
}

#ge-sceneExplorer .itemContainer .title .titleText {
    color: black !important;
}

#ge-propertyTab .checkBoxLine .label {
    color: #666666 !important;
}

#ge-propertyTab .listLine .options select {
    color: black !important;
}

#ge-propertyTab .range {
    color: black !important;
}

#ge-propertyTab .sliderLine .floatLine .short input[type=number] {
    color: black !important;
}

#ge-propertyTab .textInputLine .label,
#ge-propertyTab .floatLine .label {
    color: #666666 !important;
}
