/* Style sheet for custom icons etc. for the Babylon.js Editor */

/* CSS */
html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#BABYLON-EDITOR-MAIN-CANVAS {
    width: 100%;
    height: 100%;
}

#BABYLON-EDITOR-EDITION-TOOL {
    width: 98%;
    height: 98%;
}

.block {
    padding-top: 20px; 
    padding-bottom: 10px; 
    color: #999;
}

.w2ui-tab {
    font-size: 12px;
    font-weight: normal;
    font-family:'MS Reference Sans Serif';
}

.w2ui-node {
    font-size: 12px;
    font-family:'MS Reference Sans Serif';
}

/*
    ICONS
*/
.w2ui-icon.icon-error {
    background: url("images/error.png");
}

.w2ui-icon.icon-light {
    background: url("images/light.png");
}
.w2ui-icon.icon-directional-light {
    background: url("images/directional_light.png");
}

.w2ui-icon.icon-mesh {
    background: url("images/abstract_mesh.png");
}

.w2ui-icon.icon-camera {
    background: url("images/render.png");
}

.w2ui-icon.icon-open-file {
    background: url("images/open.png");
}

.w2ui-icon.icon-edit {
    background: url("images/edit.png");
}

.w2ui-icon.icon-primitives {
    background: url("images/primitives.png");
}

.w2ui-icon.icon-add {
    background: url("images/add.png");
}

.w2ui-icon.icon-shaders {
    background: url("images/shaders.png");
}
