/* CUSTOM BLACK THEME */

html, body {
  background-color: #262626 !important;
}

/* Scrollbars */
body ::-webkit-scrollbar-track {
  background: #333333 !important;
}

body ::-webkit-scrollbar-thumb {
  border-radius: 15px !important;
}

/* Logo */

#GRAPH-CANVAS-CONTEXT-MENU {
  background-color: black;
}

#layout_GRAPH-CANVAS-CONTEXT-MENU_panel_main>.w2ui-panel-title {
  color: white !important;
}

.jstree-default .jstree-wholerow-clicked {
  background: grey;
}

.jstree-default .jstree-wholerow-hovered {
  background: rgb(166, 166, 166);
}

/* dat gui */

.dg li:not(.folder) {
  background: transparent !important;
  color: white;
  border-bottom: none !important;
}

.dg li.title {
  background: transparent !important;
  color: white !important;
}

.lm_controls .lm_maximise {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAA/CAMAAABnwz74AAACAVBMVEUAAAAqKippaWlwcHCenp6qqqqUlJS5ublNTU2xsbGpqamKioqMjIylpaWoqKi2traWlpa5ubmRkZGurq5iYmKUlJSxsbHj4+N/f394eHjQ0NDOzs7b29vOzs7b29vy8vLPz8/Pz8/b29vHx8fJycnS0tLT09PV1dXY2Njd3d3e3t6/v7/Ly8vc3Nzm5ubCwsLNzc3GxsbS0tLc3Nzo6OjZ2dnl5eXU1NTh4eHb29vn5+fh4eHl5eXs7Ozd3d3f39/h4eHn5+fY2Nje3t7c3NzY2Njc3Nzh4eHm5ubr6+vr6+vZ2dnn5+fr6+vn5+fs7Ozp6en4+Pj39/f6+vr7+/v8/Pzx8fHl5eXs7Ozu7u709PTu7u7s7Ozx8fHt7e3v7+/z8/P4+Pjx8fHv7+/z8/P09PT19fX39/f09PTx8fHz8/P19fXw8PDz8/Px8fH29vbv7+/29vb4+Pj5+fn6+vr6+vr7+/v8/Pz9/f339/f4+Pj7+/v29vb4+Pj4+Pj4+Pj39/f5+fn29vb6+vr4+Pj4+Pj6+vr39/f4+Pj5+fn6+vr39/f5+fn4+Pj5+fn6+vr39/f5+fn29vb39/f6+vr7+/v8/Pz39/f4+Pj4+Pj6+vr7+/v6+vr7+/v8/Pz7+/v8/Pz7+/v8/Pz7+/v8/Pz7+/vTHyX6+vr7+/v+/v7///8QgCKbAAAApnRSTlMAAAAAAAABAQICBgcHBwcHCAgJCQoNEx0gIi0yMjQ0NDU2Njc3Nzc3Nzc3ODg6Ojs7PDw8PD09Pj4/P0BKTFFRU1VWVldYWFhYWFlbYmVoaWpvcXFxcXJ1f4GBlZaYmZmZmZqqsrKztba3uLi5uru7v8XFyMjMzMzM0NTW2dnc3d7e6ens7e3v7+/v8PDx8fHy8vPz8/Pz9PT19fb5+fn6+vv7/Pz9G2ZJbAAAAZxJREFUeAHt0tVy21AUheFVZmZmZmZmZobWZWa3LrSu20DiMCcO28kkWk8Zy5bnaBJ5JJ196+8B/r0vFnZH6CDxeCo8itDZBXjELO5LAw+QC9yVBvYJAr+DwY8XB+kHHkHRCtySBtr3CwNsOyAMsPOwMMCOg8IA48eEASaO+A4YN081UIkf9xv4CWwqo9J9xmcgBGCZvRA/4T+ADZVUuo7CgxZaPsO0qIhK83S4u8M04yxSllZTWQB3w/ZeNl1aBcsS9cP/adAxr4RptVugZ00hTU3boGtOvnl/B/TN/sG8dZAYPGsEcvoZPnMoJNb/45+F0LezjmTBXOjaHqOpeC30bK1nWul86JgRY0Z0OSx7rlxLunpoJNxdp1KzAinnaLkHd6dpE10M0xdaWuFu1AfaVG1EUogZ8GDKa9qUr/YdwKR3tKnYDIT9BTD5FW0az9+mzwAmvGAW8GjiG2EA458JAxj3UhjA2KfCAEY/EQYw5rswgPf6gSEnHwYCz6kfuCEd0idp4FsugK90ZsCjt3T2Fx6tDBu9A/X82tUHthoOFxlP1RwAAAAASUVORK5CYII=) !important;
}

.lm_maximised .lm_controls .lm_maximise {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAA/CAMAAABnwz74AAABqlBMVEUAAABmZmZpaWl2dnZ/f3+AgICDg4OFhYWHh4eMjIyampqHh4ednZ2dnZ22trakpKS9vb2xsbGvr6/AwMC9vb3Hx8fNzc3Ozs68vLzFxcXNzc3FxcXPz8/Ly8vT09PV1dXS0tLT09PLy8vPz8/d3d3Y2Njb29vc3Nzd3d3X19fg4ODg4ODi4uLu7u7X19fZ2dnt7e3Z2dna2trY2Nja2tra2trb29vc3Nze3t7////c3Nzd3d3e3t7e3t7////X19fX19fY2NjX19fX19fY2NjY2NjY2NjZ2dnZ2dnZ2dna2trn5+fo6Ojw8PDb29vw8PDc3Nzr6+vs7Oz////////p6en6+vrt7e37+/v5+fn6+vrq6ur4+Pj5+fnn5+f4+Pj5+fnm5ubn5+fo6Ojo6Ojm5ubv7+/x8fHx8fHx8fHx8fH29vb39/f29vbz8/Pz8/P39/f39/f5+fn5+fn4+Pj4+Pj29vb29vb5+fn5+fn6+vr5+fn6+vr6+vr7+/v6+vr7+/v6+vr6+vr6+vr6+vr+/v79/f3+/v79/f3+/v7+/v7THyX+/v7///97s+rUAAAAi3RSTlMAAQEBAQEBAQEBAQICAwMFBQYHBwkKDA0TFRkcHB0hIiQlJycwMTExMTU2Nzc6Ozs7PDw9PT4/QEBAQUFBQkJISUlKS0tMTU1OT1BTU1VWVldaWmNkbW1ubnBxdIeHiYmJioqKi4yVsbO6u7vBw8TFxcbKy9LT19nw8fHy8vPz9PT29/j5+vz8/f3+IP19pwAAAZ9JREFUeAHtzHdzEkEYB+Cfvffee0GxU+yiCIK9iKiIWBTL2bsUTY6EkJt9v3O4HS5sZi4zu+/+y/MBHvhKv50o+GY8F0TuBXDNfCGoy02B6bUgyb0IlgIF3DR65m2P+LbOgobv1B8uQ1r53iOf93aZRuBQXysD310KXNMIDgypQxZdDyhwHxpO/leHnHmApDqM5IGHhgESTXW4uf6jaYC4OtAYGQeIN0jBCBBrWAY4UbcMcOSvZYDDdcsApz3LYGOHH6wtVirPfhI7WPSZJHawkyyDPYPAPtjUoXC3oKkqKMzX1dC1+1SIQ0sx0LP86PkQ+xdA05ovFMarQtMNCtfeAj33aBp7bYN9g0Dssgw+LeEHP8rlJ8V1YAftzZDYgXfOMqA/x2wCORy3DKgWswyoFrcMqJZgBKOeMjQSxsGHDbdb6pA0DR4DV9WhecYweAQgP2U4ax4g5yrDv4MawXUK3IHvijo4GsGKN+Pk896tgpRVhm/QsHBbxLdjMXoyk4MogCU9TJJ4NRs8l+QgXs4HV6o7iKdzwRd1fpXmAJgAw/OXXk1MnKwAAAAASUVORK5CYII=) !important;
}

.dg li.title:nth-of-type(1) {
  background: #333333 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat !important;
}

.dg .closed li.title:nth-of-type(1) {
  background: #222222 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==) 6px 10px no-repeat !important;
}

.dg .c input[type=text] {
  background: #e9e9e9;
}

.dg .c .slider {
  background: grey;
}

.dg .c select {
  background-color: #999999 !important;
  color: black !important;
}

.dg .cr.function:hover, .dg .cr.boolean:hover {
  background: #333333 !important;
}

.dg .cr {
  border-top: 1px solid #3f3f3f;
}

/* Input */

input {
  background-color: #999999 !important;
  color: black !important;
}

input:focus {
  background-color: #dddddd !important;
}

::placeholder {
  color: black;
}

/* JSTREE*/

.jstree-default .jstree-clicked {
  background: #5b5b5b;
}

.jstree-default .jstree-hovered {
  background: #5b5b5b;
}

.jstree-default .jstree-search {
  color: white;
}

.jstree-default .jstree-anchor {
  color: white;
}

.vakata-context li>a, .vakata-context-hover, .vakata-context li>a:active {
  position: relative;
  background-color: #5b5b5b;
  color: white;
  text-shadow: none;
}

.vakata-context li>a:hover, .vakata-context .vakata-context-hover>a {
  background-color: #6d6d6d;
}

/* Editor */
hr:after {
  background: #444444;
}

/* GoldenLayout */

.lm_header .lm_tab {
  background-color: rgb(37, 37, 38) !important;
}

.lm_header .lm_tab.lm_active {
  background-color: rgb(55, 55, 55) !important;
}

.lm_header {
  background-color: #333333 !important;
}

.lm_content {
  background: #444444 !important;
}

/* Context Menu */

.context-menu-list {
  background: #888888;
}

.context-menu-item {
  background: #888888;
  color: white;
}

.context-menu-separator {
  border-bottom: 1px solid #777777;
}

/* W2UI */

.w2ui-layout {
  background-color: #444444;
}

.w2ui-layout>div .w2ui-panel .w2ui-panel-content {
  background-color: #333333;
  color: white;
}

.w2ui-tabs {
  color: white;
  background-color: #444444 !important;
}

.w2ui-tabs table {
  border-bottom: 1px solid transparent;
}

.w2ui-tabs .w2ui-tab {
  border: 1px solid #707070;
  color: white;
}

.w2ui-tabs .w2ui-tab.active {
  background-color: #999999 !important;
}

.w2ui-toolbar {
  background-color: #333333 !important;
}

.w2ui-toolbar table.w2ui-button .w2ui-tb-caption {
  color: white;
}

.w2ui-toolbar table.w2ui-button.checked {
  background-color: #888888;
}

.w2ui-overlay table.w2ui-drop-menu {
  background-color: #555555;
  color: white;
}

.w2ui-overlay table.w2ui-drop-menu tr.w2ui-selected {
  background-color: #0e1015;
}

.w2ui-overlay table.w2ui-drop-menu tr.w2ui-selected td {
  color: #ffffff;
}

.w2ui-overlay table.w2ui-drop-menu tr:hover {
  color: #dddddd;
  background-color: #333333;
}

.w2ui-grid {
  border: 1px solid #707070;
}

.w2ui-grid .w2ui-grid-body {
  background-color: transparent;
}

.w2ui-grid .w2ui-grid-body table .w2ui-head {
  color: white;
  background-image: linear-gradient(#444444, #555555);
}

.w2ui-grid .w2ui-grid-body table {
  background: grey;
}

.w2ui-grid .w2ui-grid-footer {
  background-color: #333333;
  color: white;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover {
  color: white;
  background-color: #222222;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-empty-record:hover {
  background-color: #555555;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover {
  color: white;
  background-color: #444444;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-empty-record:hover {
  background-color: #666666;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-selected, .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-selected {
  color: black !important;
  background-color: transparent !important;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd {
  background-color: #666666;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even {
  background-color: #555555;
}

.w2ui-grid .w2ui-grid-header {
  color: white;
  background-image: -webkit-linear-gradient(#444444, #555555);
}

.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div {
  color: white;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-columns {
  box-shadow: 0px 1px 4px #777777;
}

.w2ui-grid .w2ui-grid-footer {
  box-shadow: 0px -1px 4px #777777;
}

.w2ui-icon {
  filter: invert(0.8);
}

.w2ui-popup {
  background-color: #444444;
}

.w2ui-popup .w2ui-msg-body {
  color: white;
  background-color: #444444;
}

.w2ui-popup .w2ui-msg-buttons {
  background-color: #444444;
  border-top: 1px solid #444444;
}

.w2ui-form {
  background-color: #444444;
  border: 1px solid #333333;
}

.w2ui-field > label {
  color: white;
}

.w2ui-select {
  background: #777777;
  color: black;
}

.w2ui-overlay {
  background-color: #555555;
  color: white;
}

.w2ui-overlay table.w2ui-drop-menu .w2ui-item-odd {
  background-color: #666666;
}

.w2ui-overlay table.w2ui-drop-menu .w2ui-item-even {
  background-color: #555555;
}

.w2ui-overlay table.w2ui-drop-menu tr.w2ui-selected {
  background-color: #222222;
}

button.w2ui-btn {
  box-shadow: 0px 1px 0px black;
}

.w2ui-sidebar .w2ui-sidebar-div {
  background-color: #444444;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-caption, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image > span, .w2ui-sidebar .w2ui-sidebar-div .w2ui-node td.w2ui-node-dots {
  color: white;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node {
  background-color: #555555;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node:hover {
  background-color: #888888;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node-group {
  color: white;
  background-color: #444444;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover {
  background-image: linear-gradient(#555555, #333333);
}