.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
    visibility: hidden;
}
 
.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.dg li.save-row select {
    visibility: hidden;
}

.dg li.save-row .button.gears {
    visibility: hidden;
}

.dg li.save-row .button.save {
    visibility: hidden;
}

.dg li.save-row .button.save-as {
    visibility: hidden;
}

.dg li.save-row .button.revert {
    float: left;
    margin-left: 0px;
    font-size: 12px;
    font-weight: bold;
    font-family:'MS Reference Sans Serif';
}

.dg li.folder .folder {
    margin-left: 20px;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
    font-size: 12px;
    font-weight: bold;
    font-family:'MS Reference Sans Serif';
}

.dg li.cr {
    font-size: 12px;
    font-family:'MS Reference Sans Serif';
    margin-left: 20px;
}

.dg title {
    margin-left: 0px;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}

.dg .c input[type=text] {
    background: #e9e9e9;
    font-size: 12px;
    font-family: 'MS Reference Sans Serif';
}
 
.dg .c input[type=text]:hover {
    background: #eee;
}
 
.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}

.dg .c input[type=checkbox] {
    /*
    margin-left: 100px;
    */
    float: right;
    margin-right: 20px;
}

.dg .cr.boolean.property-name {
    width: 90%;
}
 
.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
}
