/* Editor */

/* Fonts */

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto-reg-400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/Roboto-bold-700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

input, textarea, select, button, .lm_content .dg .c input[type=text], small, .lm_content .dg li.cr,
li, .lm_content .dg li.title, .w2ui-reset table, .lm_header .lm_tab .lm_title, .w2ui-popup{
    font-family: Roboto,sans-serif;
    font-weight: 400;
}

.lm_content .dg li.title, .lm_header .lm_tab .lm_title, .w2ui-tabs .w2ui-tab.active{
    font-weight: 700;
}


#renderCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    touch-action: none;
    -ms-touch-action: none;
}

/* W2UI */
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image {
    width: 16px;
}

.w2ui-layout > div{
    z-index: 0;
}

/* JSTREE */
.vakata-context li > a {
    font-size: 12px;
}

.vakata-context li > a >i {
    background-position: 5px 5px !important;
}

/* Golden Layout */
.lm_content {
    background: #fafafa !important;
}

/* SCROLLBARS */
::-webkit-scrollbar { width: 15px !important; }
::-webkit-scrollbar-track { background: white !important; }
::-webkit-scrollbar-thumb {
    background: #ddd !important;
    border-radius: 0px !important;
}
::-webkit-scrollbar-thumb:hover { background: #999 !important; }

/*
ICONS
*/
.w2ui-icon {
    background-repeat: no-repeat !important;
}

.w2ui-icon.icon-error {
    background: url("images/error.png");
}

.w2ui-icon.icon-light {
    background: url("images/light.png");
}
.w2ui-icon.icon-directional-light {
    background: url("images/directional_light.png");
}

.w2ui-icon.icon-mesh {
    background: url("images/abstract_mesh.png");
}

.w2ui-icon.icon-camera {
    background: url("images/camera.png");
}

.w2ui-icon.icon-open-file {
    background: url("images/open.png");
}

.w2ui-icon.icon-edit {
    background: url("images/edit.png");
}

.w2ui-icon.icon-primitives {
    background: url("images/primitives.png");
}

.w2ui-icon.icon-add {
    background: url("images/add.png");
}

.w2ui-icon.icon-shaders {
    background: url("images/shaders.png");
}

.w2ui-icon.icon-particles {
    background: url("images/particles.png");
}

.w2ui-icon.icon-effects {
    background: url("images/effects.png");
}

.w2ui-icon.icon-mesh {
    background: url("images/pointcloud.png");
}

.w2ui-icon.icon-animated-mesh {
    background: url("images/animated_mesh.png");
}

.w2ui-icon.icon-play-game {
    background: url("images/play_game.png");
}

.w2ui-icon.icon-position {
    background: url("images/position.png");
}

.w2ui-icon.icon-rotation {
    background: url("images/rotation.png");
}

.w2ui-icon.icon-scaling {
    background: url("images/scale.png");
}

.w2ui-icon.icon-console {
    background: url("images/console.png");
}

.w2ui-icon.icon-scene {
    background: url("images/scene.png");
}

.w2ui-icon.icon-export {
    background: url("images/export.png");
}

.w2ui-icon.icon-sound {
    background: url("images/sound.png");
}

.w2ui-icon.icon-wireframe {
    background: url("images/wireframe.png");
}

.w2ui-icon.icon-focus {
    background: url("images/focus.png");
}

.w2ui-icon.icon-clone {
    background: url("images/clone.png");
}

.w2ui-icon.icon-bounding-box {
    background: url("images/bounding_box.png");
}

.w2ui-icon.icon-helpers {
    background: url("images/helpers.png");
}

.w2ui-icon.icon-one-drive {
    background: url("images/onedrive.png");
}

.w2ui-icon.icon-copy {
    background: url("images/copy.png");
}

.w2ui-icon.icon-lens-flare {
    background: url("images/lens_flare.png");
}

.w2ui-icon.icon-box-mesh {
    background: url("images/cube.png");
}

.w2ui-icon.icon-billboard-mesh {
    background: url("images/billboard.png");
}

.w2ui-icon.icon-sphere-mesh {
    background: url("images/sphere.png");
}

.w2ui-icon.icon-water {
    background: url("images/water.png");
}

.w2ui-icon.icon-stop-sound {
    background: url("images/stop_sound.png");
}

.w2ui-icon.icon-play-sound {
    background: url("images/play_sound.png");
}

.w2ui-icon.icon-electron {
    background: url("images/electron_icon.png");
}

.w2ui-icon.icon-photoshop-connect {
    background: url("images/photoshop_icon_connect.png");
}

.w2ui-icon.icon-photoshop-disconnect {
    background: url("images/photoshop_icon_disconnect.png");
}

.w2ui-icon.icon-save {
    background: url("images/save.png");
}

.w2ui-icon.icon-scenario {
    background: url("images/scenario.png");
}

.w2ui-icon.icon-graph {
    background: url("images/graph.png");
}

.w2ui-icon.icon-render {
    background: url("images/render.png");
}

.w2ui-icon.icon-play-game-windowed {
    background: url("images/play_game_windowed.png");
}

.w2ui-icon.icon-cylinder {
    background: url("images/cylinder.png");
}

.w2ui-icon.icon-ground {
    background: url("images/ground.png");
}

.w2ui-icon.icon-plane {
    background: url("images/plane.png");
}

.w2ui-icon.icon-soft-body {
    background: url("images/soft_body.png");
}

.w2ui-icon.icon-reflection {
    background: url("images/reflection.png");
}

.w2ui-icon.icon-dynamic-texture {
    background: url("images/dynamic_texture.png");
}

.w2ui-icon.icon-behavior-editor {
    background: url("images/behavior_editor.png");
}

.w2ui-icon.icon-files {
    background: url("images/files.png");
}

.w2ui-icon.icon-files-project {
    background: url("images/files_project.png");
}

.w2ui-icon.icon-undo {
    background: url("images/undo.png");
}

.w2ui-icon.icon-redo {
    background: url("images/redo.png");
}

.w2ui-icon.icon-recycle {
    background: url("images/recycle.png");
}
