html, body {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    -ms-touch-action: none;
}

.dg.main .close-button {
    background-color: #ccc;
    visibility: hidden;
}

/* W2UI */
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node .w2ui-node-image {
    width: 16px;
}
.w2ui-sidebar .w2ui-node {
    height: 24px;
}

.w2ui-sidebar .w2ui-node-count {
    top: -3px;
}
.w2ui-sidebar .w2ui-node-image {
    top: -10px;
}

.w2ui-layout > div {
    z-index: 0;
}
