<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">

    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".dds" mimeType="application/dds" />
      <mimeMap fileExtension=".tga" mimeType="application/tga" />
      <mimeMap fileExtension=".fx" mimeType="application/fx" />
      <mimeMap fileExtension=".babylon" mimeType="application/babylon" />
      <mimeMap fileExtension=".babylonmeshdata" mimeType="application/babylonmeshdata" />
      <mimeMap fileExtension=".cache" mimeType="text/cache-manifest" />
      <mimeMap fileExtension=".hdr" mimeType="application/hdr" />
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />-->
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="image/*" />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
        <add enabled="true" mimeType="application/babylonmeshdata" />
        <add enabled="true" mimeType="application/babylon"/>
        <add enabled="false" mimeType="*/*"/>
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/babylonmeshdata" />
        <add enabled="true" mimeType="application/babylon"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="forbidAzurewebsites.net" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="http://www.babylonjs.com/{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="addWWW" stopProcessing="false">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" negate="true" pattern="^www\." />
          </conditions>
          <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>
