@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-start-rgb: 97 106 128;
        --background-end-rgb: 171 83 83;
    }
}

body {
    @apply leading-tight;
    @apply tracking-tighter;
}

.landing {
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
