@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-start-rgb: 114 181 221;
        --background-end-rgb: 233 224 179;
    }
}

.landing {
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
