@font-face {
	font-family: "o4b";
	src: url("https://babylonjs-editor.fra1.cdn.digitaloceanspaces.com/experiments/horde/site-assets/fonts/unutterable.regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
