.npe-right-panel #propertyTab .textInputLine .value input {
    color: black !important;
    padding: 2px 5px;
}

.npe-right-panel #propertyTab .listLine .options select {
    color: black !important;
    padding: 2px 5px;
}

.npe-right-panel #propertyTab .textInputArea textarea {
    color: black !important;
    padding: 2px 5px;
}

.npe-right-panel #propertyTab .sliderLine .floatLine .short input[type=number] {
    color: black !important;
    padding: 2px 5px;
}

.npe-right-panel #propertyTab .floatLine .value input[type=number] {
    color: black !important;
    padding: 2px 5px;
}

.npe-right-panel #propertyTab .checkBoxLine .checkBox {
    padding: 2px 5px;
}

.numeric > input {
    color: black !important;
    padding: 2px 5px;
}
