@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "flexlayout-react/style/dark.css";
@import "@blueprintjs/core/lib/css/blueprint.css";

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;

        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

body * {
    outline: none !important;
    font-weight: 400 !important;
    font-family: Roboto, sans-serif !important;
}

input {
    line-height: normal;
}

/* SCROLLBARS */

::-webkit-scrollbar {
    /* background: transparent none; */
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track {
    background: #222222 !important;
}

::-webkit-scrollbar-thumb {
    background: #ddd !important;
    border-radius: 0px !important;
}

/* FLEX LAYOUT */

/* .flexlayout__layout {
    top: 40px;
} */

.flexlayout__tabset-selected {
    background-image: unset;
    background-color: #111111;
}

.flexlayout__tab {
    background-color: #444444;
}

.flexlayout__tabset_tabbar_outer {
    background-color: #222222;
}

.flexlayout__tab_button--selected {
    background-color: #333333;
}

.flexlayout__tab_button--unselected {
    background-color: #111111;
}

.flexlayout__tab_button_content {
    min-width: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.flexlayout__tabset_tabbar_inner_tab_container_top {
    padding-left: 0px;
    padding-right: 0px;
}

/* BLUEPRINTJS */

.bp5-button-text {
    color: white;
}

.bp5-button .bp5-icon,
.bp5-button .bp5-icon-standard,
.bp5-button .bp5-icon-large {
    color: white;
}

.bp5-popover .bp5-popover-content {
    color: white;
    background-color: #222222;
}

.bp5-menu {
    color: white;
    background-color: #333333;
}
